<a href="https://colab.research.google.com/github/cegalvao92/Blue_Exercicios/blob/main/Exer_Lista_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exe 01

In [22]:
c = 0
while c < 2:
  num_alu = []
  num_alu.append(int(input('Digite o numero do aluno: ')))
  alt_alu = []
  alt_alu.append(float(input('Digite a altura dele: ')))
  print()
  c = c + 1
print('O aluno mais alto encontrado: {}'.format(max(alt_alu)))
print('O aluno mais baixo encontrado: {}'.format(min(alt_alu)))

Digite o numero do aluno: 01
Digite a altura dele: 1.60

Digite o numero do aluno: 02
Digite a altura dele: 1.65

O aluno mais alto encontrado: 1.65
O aluno mais baixo encontrado: 1.65